@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/public/assets/Images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.scroll {
    scrollbar-color: #121212 #555;
    scrollbar-width: 8px;
}

/* Dark Mode Scroll bar */


